* {
    font-family: "Roboto Light", Arial, serif;
}

#grid {
    border-collapse: collapse;
    margin: auto;
    border-style: hidden;
    font-size: larger;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#grid th {
    border: 3px solid black;
    width: 3cm;
    height: 3cm;
    cursor: pointer;
}

#user-emoji-table td {
    width: 1cm;
    height: 1cm;
    cursor: pointer;
}

.selected {
    border: 1px solid black;
    font-size: larger;
    background: lightblue;
}